<%- include('layout/header', {config, modules}) %>
<h1><code><%- moduleName %></code></h1>

<p>
    Install using
</p>
<pre><code>npm install <%- moduleName %></code></pre>

<h2>Exported Members</h2>
<p>You can access these members by importing the module:</p>
<pre><code>import { <i>member</i> } from '<%- moduleName %>';</code></pre>

<!-- Members -->
<% members.forEach(function(member) { %>
    <div class="card fluid">
        <!-- Name with anchor link -->
        <a id="<%= member.name %>" href="#<%= member.name %>">
            <h3><code><%- member.name %></code></h3></a>

        <!-- Description, based on type -->
        <% member.declarations.forEach(function(declaration) { %>
            <% if (declaration.type === 'function') { %>
                <%- include('partials/function', {declaration: declaration.declarations[0], md}) -%>
            <% } else if (declaration.type === 'class-interface') { %>
                <%- include('partials/class', {declaration: declaration.declarations[0], md}) -%>
            <% } else if (declaration.type === 'variable') { %>
                <%- include('partials/variable', {declaration: declaration.declarations[0], md}) -%>
            <% } else if (declaration.type === 'type') { %>
                <%- include('partials/type', {declaration: declaration.declarations[0], md}) -%>
            <% } else { %>
            <!-- UNRESOLVED TYPE: <%- declaration.type %> with <%- JSON.stringify(declaration) %>-->
            <% } %>
        <% }) %>
    </div>
<% }) %>
