<%
/**
 * @name config
 */
/**
 * @name modules
 */
%>
<html lang="en">
<head>
    <title>fliegdoc Documentation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <style>
        h5 {
            font-size: 1.2rem;
            font-weight: bold;
        }
        code {
            line-height: inherit;
        }

        :root {
            scroll-behavior: smooth;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <a href="<%=config.baseUrl %>" class="logo">fliegdoc Documentation</a>
</header>
<div class="container">
    <div class="row">
        <aside class="col-sm-12 col-md-4 col-lg-3">
            <nav class="fixed">
                <a href="<%=config.baseUrl %>">Project README</a>
                <span>Modules</span>
                <%modules.forEach(function(module) {
                    %>
                    <a href="<%=config.baseUrl %><%=module%>">
                        <code>
                            <%=module%>
                        </code>
                    </a>
                <%
                })%>
            </nav>
        </aside>
        <div class="col-sm-12 col-md-8 col-lg-6">
